__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.*~
.Python
*.env*
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git
.env*
*.env
.aws*
*.md
!README*.md
README-secret.md
usr/
node_modules
**/node_modules
node_modules
docker-compose.yaml
docker-compose.yml
.flaskenv
results/
Jenkinsfile*
Dockerfile*
Dockerfile
.ci
build
tests/*
.pytest_cache
*.egg-info
.editorconfig
.gitignore
.dockerignore
.pre-commit-config.yaml
tests
usr
venv
render.yaml
*.example.json
build.sh
